<web-app>
   <servlet>
      <servlet-name>instalador</servlet-name>      
      <servlet-class>practica.Instalador</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>instalador</servlet-name>
      <url-pattern>/instalador</url-pattern>
   </servlet-mapping>

   <servlet>
     <servlet-name>cerrar</servlet-name>      
     <servlet-class>practica.Cerrar</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>cerrar</servlet-name>
      <url-pattern>/cerrar</url-pattern>
   </servlet-mapping>

   <servlet>
     <servlet-name>iniciosesion</servlet-name>      
     <servlet-class>practica.InicioSesion</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>iniciosesion</servlet-name>
      <url-pattern>/iniciosesion</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>blog</servlet-name>      
      <servlet-class>practica.Blog</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>blog</servlet-name>
      <url-pattern>/blog</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>panel</servlet-name>      
      <servlet-class>practica.Panel</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>panel</servlet-name>
      <url-pattern>/panel</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>registro</servlet-name>      
      <servlet-class>practica.Registro</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>registro</servlet-name>
      <url-pattern>/registro</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>borrar</servlet-name>      
      <servlet-class>practica.Borrar</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>borrar</servlet-name>
      <url-pattern>/borrar</url-pattern>
   </servlet-mapping>




</web-app>
